@media (min-width: 64em) {
  
  header {
    gap: 2rem;
  }

  header img {
    max-width: 128px;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1.25rem;
  }
  
  main section {
    max-width: 48em;
  }

  #nav-button {
    display: none;
  }

  nav.hidden {
    display: block;
  }

  nav ul {
    flex-direction: row;
  }

  nav ul li a {
    padding: 1em 0;
  }  

  #directory.grid {
    max-width: 64em;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #directory.list section {
    padding: 2em 0;
  }

  #board-list {
    grid-template-columns: repeat(4,1fr);
  }

}
